<section class="w3l-cta4 py-5">
    <div class="container py-lg-5">
        <div class="row mt-5">
            <div class="col-md-6">
                <img src="${properties.monksImageOne}" class="img-fluid" alt="">
            </div>
            <div class="col-md-6 mt-md-0 mt-4">
                <img src="${properties.monksImageTwo}" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>
<div data-sly-test="${wcmmode.edit}" class="cq-placeholder" data-emptytext="Monks Image"></div>