<div class="limiter monks-canal-table" data-path="${resource.path}">
    <div class="wrap-table100">
        <div class="table100 ver1 m-b-110">
            <div class="table100-head">
                <table>
                    <thead>
                    <tr class="row100 head">
                        <th class="cell100 column1">Date</th>
                        <th class="cell100 column2">Water Height (cm)</th>
                        <th class="cell100 column3">Created Date</th>
                    </tr>
                    </thead>
                </table>
            </div>

            <div class="table100-body js-pscroll">
                <table>
                    <tbody class="table-data">
                    <tr class="row100 body"></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div data-sly-test="${wcmmode.edit}" class="cq-placeholder" data-emptytext="Canal Table"></div>